{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": {
      "semi": ["error", "always"],
      "quotes": [2, "single"],
      "eol-last": "error",
      "no-multiple-empty-lines": "error"
    }
}